@import "compass";

.vertical-center {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}

.vertical-center-absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.horizontal-center-absolute {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.no-mouse {
    pointer-events: none;
    cursor: default !important;
}

.overflowY-hidden {
    overflow-y: hidden !important;
}

.overflowX-hidden {
    overflow-x: hidden !important;
}

.text-center-wrapper {
    position: relative;
    text-align: center;

    .centered-text {
        display: inline-block;
        text-align: left;
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));
    }
}

.overflow-visible {
    overflow: visible !important;
}

.text-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.flex-hv-center {
    @include display-flex;
    @include align-items(center);
    @include justify-content(center);
}