@import "compass";
$default-gray: #F2F2F2;
$default-text-gray: #969696;
$default-green: #1eba59;
$default-text-color: #333;
$green: #58b764;

.navbar.navbar-gray,
.footer.footer-gray {
    background-color: rgba($default-gray, .9);
}

.navbar.navbar-green,
.footer.footer-green {
    background-color: $green;
}

.navbar.navbar-white,
.footer.footer-white {
    background-color: #fff;
}

li{
    list-style:none;
}

i{
   font-style:normal;
}

.lt{
    float:left;
}
.rt{
    float:right;
}
.clearfix:before{
    content:'';
    display:block;
    height:0;
    line-height:0;
    visibility:hidden;
    clear:both;
}
.clearfix{
    zoom:1;
}

.card {
    background-color: #fff;
    @include border-radius(.5em);
    @include box-shadow(0 .1em .2em -.1em rgba(0, 0, 0, .3));
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
}

.center {
    text-align: center;
}