<div class="navbar navbar-green navbar-mobile navbar-fixed-top" role="navigation">
    <div class="navbar-header container">
        <div class="navbar-btn-left-col">
            <a class="btn navbar-btn btn-default" data-bind="attr:{href:app.findHash('^book-index/\\S+')?app.toAppUrl('app-student/#book-index/'+id(),true):app.toAppUrl('app-student/',true)}">
                <span class="icon icon-chevron-left"></span>
            </a>
        </div>
        <h1 class="navbar-title">单词记忆</h1>
    </div>
</div>
<div class="page active with-header container" data-bind="foreach: units">
    <div class="card" data-toggle="collapse" data-bind="css: $parent.collapseCss($index(),$element)">
        <a class="btn btn-block" data-bind="attr: {href: '#summary/' + wordId}, click: $component.stopPro(event)">
            <div class="row chapter-row">
                <div class="col-xs-12">
                    <div class="title" data-bind="text: name"></div>
                    <div class="subtitle" data-bind="text: profile"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 chapter-item">
                    <div class="chapter-star">
                        <span class="icon icon-star" data-bind="style: {color: $component.unitStar($index(), 0.3, 0)}"></span>
                        <span class="icon icon-star" data-bind="style: {color: $component.unitStar($index(), 0.6, 0)}" ></span>
                        <span class="icon icon-star" data-bind="style: {color: $component.unitStar($index(), 0.9, 0)}" ></span>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>