<div id="loading" style="display: none;" data-bind="loadingFade: show">
    <div id="loading-box" class="center-block vertical-center">
        <div id="loading-animation" data-bind="template: type"></div>
        <div id="loading-msg">
            <span class="vertical-center" data-bind="text: msg"></span>
        </div>
    </div>
</div>

<script type="text/html" id="loading-square">
    <div class="loading-square"></div>
</script>

<script type="text/html" id="loading-square-msft">
    <div class="loading-square-msft">
        <div class="loading-square-msft-item1"></div>
        <div class="loading-square-msft-item2"></div>
        <div class="loading-square-msft-item3"></div>
        <div class="loading-square-msft-item4"></div>
    </div>
</script>

<script type="text/html" id="loading-double-bounce">
    <div class="loading-double-bounce">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</script>

<script type="text/html" id="loading-rect">
    <div class="loading-rect">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</script>

<script type="text/html" id="loading-cube">
    <div class="loading-cube">
        <div class="cube1"></div>
        <div class="cube2"></div>
    </div>
</script>

<script type="text/html" id="loading-drip">
    <div class="loading-drip"></div>
</script>

<script type="text/html" id="loading-dot">
    <div class="loading-dot">
        <div class="dot1"></div>
        <div class="dot2"></div>
    </div>
</script>

<script type="text/html" id="loading-ellipsis">
    <div class="loading-ellipsis">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</script>


<script type="text/html" id="loading-circle">
    <div class="loading-circle">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</script>

<script type="text/html" id="loading-folding-cube">
    <div class="loading-folding-cube">
        <div class="loading-folding-cube-item1 loading-folding-cube-item"></div>
        <div class="loading-folding-cube-item2 loading-folding-cube-item"></div>
        <div class="loading-folding-cube-item4 loading-folding-cube-item"></div>
        <div class="loading-folding-cube-item3 loading-folding-cube-item"></div>
    </div>
</script>

<script type="text/html" id="loading-msft">
    <div class="loading-msft">
        <div class="loading-msft-item1 loading-msft-item"></div>
        <div class="loading-msft-item2 loading-msft-item"></div>
        <div class="loading-msft-item4 loading-msft-item"></div>
        <div class="loading-msft-item3 loading-msft-item"></div>
    </div>
</script>