.vocab-familiar-learnt{
    background-color:#1eba59
}

#vocab-btn-unfamiliar {
    color: #e20000;
}

#vocab-btn-familiar {
    color: #1eba59;
}

.display {
    text-align: center;
    font-size: 1.8em;
}

.navbar-mobile {
    .navbar-btn-right-col {
        top:50%;
        @include transform(translateY(-50%));
        .navbar-percent {
            padding-top: 0px;
        }
    }

    .navbar-mid-col {
        padding-left: 3em;
        padding-right: 3em;
    }
}



.vocab-content {
    padding: 40px;
    min-width: 300px;

    .vocab-w {
        text-align: center;
        font-size: 2.5em;
        line-height: 1.2em;
        white-space: unset;
        margin:0.2em 0;
    }

    .vocab-row-heading {
        border-bottom: 1px solid #1eba59;

        .vocab-row-title {
            background-color: #1eba59;
            color: white;
            padding: 3px;
            border-radius: 5px 5px 0 0;
        }
    }

    .vocab-row-body {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .vocab-row-picture{
        text-align:center;
        .vocab-picture {
            height: 10em;
            max-width: 100%;
        }
    }
}

.word-card {
    @extend .card;
}

.btn-vocared{
    background-color: #ffdbdc;
    color: #e20000;
    font-weight: 700;
}
.btn-vocagreen{
    background-color: #d9f5e3;
    color: #1eba59;
    font-weight: 700;
}

.icon-audio {
    color: #58b764;
    font-size: 1.3em;
}

.icon-pause {
    color: #58b764;
    font-size: 1.3em;
}
