<div class="navbar navbar-green navbar-fixed-top navbar-mobile" role="navigation">
    <div class="navbar-header container">
        <div class="navbar-btn-left-col">
            <a class="btn btn-default navbar-btn navbar-btn-left" onclick="history.back()">
                <span class="icon icon-chevron-left"></span>
            </a>
        </div>
        <h1 class="navbar-title">单词列表</h1>
    </div>
</div>

<div id="word-list" class="page with-header active">
    <div class="container">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#learning" aria-controls="home" role="tab" data-toggle="tab">未学单词</a></li>
            <li role="presentation"><a href="#learned" aria-controls="profile" role="tab" data-toggle="tab">已学单词</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="learning">
                <div data-bind="if: $component.showUnits()">
                    <div data-bind="template: {name: 'word-tmpl', foreach: units()}"></div>
                </div>
                <div class="wl-item-hint" data-bind="ifnot: $component.showUnits()">
                    你真棒！本章已经都学完了~
                </div>
            </div>


            <div role="tabpanel" class="tab-pane" id="learned">
                <div data-bind="if: $component.showUnits2()">
                    <div data-bind="template: {name: 'word-tmpl', foreach: units2()}"></div>
                </div>
                <div class="wl-item-hint" data-bind="ifnot: $component.showUnits2()">
                    本章节的单词你可能还没有掌握哦，快去学习吧~
                </div>

            </div>
        </div>

    </div>
</div>


<script id="word-tmpl" type="text/html">

    <div class="wl-item">
        <div class="wl-item-data" data-bind="swipeToChange: true" id="test">
            <div class="wl-audio-col col">
                 <!--ko component: {
                name: 'audio-controller',
                params: {
                    src:  audioUrl,
                    onReady: $component.onPronReady
                }
            }--> 
<div class="btn btn-rounded audio-btn" data-bind="audioController: true">
    <span class="icon icon-audio"></span>
</div>
<!-- /ko -->
            </div>
            <div class="wl-word-col col">
                <div class="btn-wl-word-col col" data-bind="text: text"></div>
                <div class="btn-wl-def-col col showdef" data-bind="text: showDesc(), click: $component.changeDesc.bind($data, $index(), $element)"></div>
            </div>
        </div>
        <button class="btn wl-btn-change" id="changeBtn" data-bind="css: type === true ? 'btn-forgot' : 'btn-mastered', text: type === true ? '忘记了' : '已掌握',click:$component.changeState.bind($data,type,question,lang,answer,unitCount,$element)"></button>

    </div>
</script>